spring:
  datasource:
    url: jdbc:postgresql://db:5432/time_manage_db
    username: postgres
    password: botinki
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 25251